<footer class="footer central-column">

    <a class="footer__scroll-up" href="#hero">
        <img src="./assets/images/ico-arrow.svg" alt="botón scroll hacia arriba" title="scroll hacia arriba">
    </a>

    <nav class="menu">
        <ul class="footer__column">
            <il>
                <a class="footer__column--link" href="https://adalab.es/" target="_blank">Articles</a>
            </il>
            <il>
                <a class="footer__column--link" href="https://adalab.es/" target="_blank">Books</a>
            </il>
            <il>
                <a class="footer__column--link" href="https://adalab.es/" target="_blank">Events</a>
            </il>
            <il>
                <a class="footer__column--link" href="https://adalab.es/" target="_blank">Reasons</a>
            </il>
            <il>
                <a class="footer__column--link" href="https://adalab.es/" target="_blank">Tips</a>
            </il>
        </ul>
    </nav>

    <nav>
        <ul class="footer__column">
            <il>
                <a class="footer__column--link" href="https://adalab.es/" target="_blank">Twitter</a>
            </il>
            <il>
                <a class="footer__column--link" href="https://adalab.es/" target="_blank">Instagram</a>
            </il>
            <il>
                <a class="footer__column--link" href="https://adalab.es/" target="_blank">Mastodon.social</a>
            </il>
        </ul>
    </nav>

    <div class="footer__column icons">
        <div>
            <small class="footer__column--cris"><img class="icons__cris" src="./assets/images/favicon2.png"
                    alt="">CrisBIB</small>
            <small class="footer__column--copyright">&copy2021</small>
        </div>
        <small class="footer__column--love">I<img class="icons__love"
                src="https://e.unicode-table.com/orig/80/81e84127c9f720661313e79c556702.png" alt="🧡"
                style="width:12px;">components</small>
    </div>

</footer>