<footer class="footer central-column">

    <a class="footer__scroll-up" href="#hero">
        <img src="./assets/images/ico-arrow.svg" alt="botón scroll hacia arriba" title="scroll hacia arriba">
    </a>

    <nav class="menu">
        <ul class="footer__list">
            <il>
                <a class="footer__list--link" href="https://adalab.es/" target="_blank">Articles</a>
            </il>
            <il>
                <a class="footer__list--link" href="https://adalab.es/" target="_blank">Books</a>
            </il>
            <il>
                <a class="footer__list--link" href="https://adalab.es/" target="_blank">Events</a>
            </il>
            <il>
                <a class="footer__list--link" href="https://adalab.es/" target="_blank">Reasons</a>
            </il>
            <il>
                <a class="footer__list--link" href="https://adalab.es/" target="_blank">Tips</a>
            </il>
        </ul>
    </nav>

    <nav>
        <ul class="footer__list">
            <il>
                <a class="footer__list--link" href="https://adalab.es/" target="_blank">Twitter</a>
            </il>
            <il>
                <a class="footer__list--link" href="https://adalab.es/" target="_blank">Instagram</a>
            </il>
            <il>
                <a class="footer__list--link" href="https://adalab.es/" target="_blank">Mastodon.social</a>
            </il>
        </ul>
    </nav>

    <div class="footer__list components">
        <small class="footer__list--copyright">CrisBIB &copy2021</small>
        <small class="footer__list--love">I<img class="components__love-icon"
                src="https://e.unicode-table.com/orig/80/81e84127c9f720661313e79c556702.png" alt="🧡"
                style="width:12px;">components</small>
    </div>

</footer>