<main class="main">

  <section class="main__hero">

    <div class="main__hero--image"></div>

    <div class="text-icon central-column" id="hero">
      <h1 class="main__hero--title">Someone somewhere</h1>
      <h5 class="main__hero--subtitle">
        Photo by Johannes Plenio from Pexels
      </h5>
      <include src="./links.html" aClass="main__hero--scroll-down" link="#3-reasons"
        icon="./assets/images/ico-scroll-down.svg" alt="botón scroll hacia abajo" title="scroll hacia abajo">
      </include>
    </div>

  </section>

  <article class="main__article central-column">
    <small class="main__article--small"> Insomnia tips</small>
    <h2 class="main__article--title"> Looking through a window</h2>
    <p class="main__article--text">
      Dones accumsan, nulla ut volutpap porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus
      semper
      sodales rutrum.
    </p>
    <button class="main__article--button">Go</button>
  </article>

  <section class=" central-column main__section">
    <h2 class="main__section--title" id="3-reasons">
      3 reasons to do it
    </h2>

    <ul class="grid">
      <il class="grid__item">
        <h3 class="grid__item--title">
          Ut sed metus
        </h3>
        <p class="grid__item--text">
          Lorem ipsum doler sit amet, consectur.
        </p>
      </il>

      <il class="grid__item">
        <h3 class="grid__item--title">
          Curabitur ac erat
        </h3>
        <p class="grid__item--text">
          Mauris mattis urna quis lorem molestie.
        </p>
      </il>

      <il class="grid__item">
        <h3 class="grid__item--title">
          Morbi dictum
        </h3>
        <p class="grid__item--text">
          Aliquam in dolor et dolor tincidut.
        </p>
      </il>
    </ul>

    <button class="main__section--button">More reasons</button>

  </section>

</main>