@mixin flex-box($display, $flexdirection, $justify, $align) {
  display: $display;
  flex-direction: $flexdirection;
  justify-content: $justify;
  align-items: $align;
}

@mixin buttonStyles {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  background: $color-buttons;
  border-radius: 22.5px;
  color: $color-white;
  transition: border-radius ease 2s;
  border: none;
  &:hover {
    border-radius: 0;
    cursor: pointer;
    background: $color-hover;
    outline: none;
  }
  &:active {
    background-color: $color-footer;
    color: $color-white;
    outline: none;
  }
  &:focus {
    outline: none;
  }
}
