// fonts
$font-titles: "Roboto Slab", serif;
$font-secondary: "Roboto", sans-serif;

// colors
$color-font-shadow: rgba(0, 0, 0, 0.2);
$color-small: #8ccbea;
$color-h2: #000000;
$color-p: #4a4a4a;
$color-menu: #0271bc;
$color-buttons: #f26002;
$color-section: #eff9ff;
$color-footer: #304268;
$color-white: #ffffff;
