// fonts
$font-titles: "Roboto Slab", serif;
$font-secondary: "Roboto", sans-serif;

// colors
$color-font-shadow: rgba(0, 0, 0, 0.2);
$color-small: #8ccbea;
$color-h2: #000000;
$color-p: #4a4a4a;
$color-menu: #3b718b;
$color-buttons: #f4997e;
$color-hover: #fec97b;
$color-section: #eff9ff;
$color-footer: #3f7388;
$color-white: rgb(255, 255, 255);
$color-box-shadow: rgba(0, 0, 0, 0.5);
