/* Punto de mejora: @mixin flexBox-column ()  */
.footer {
  background: $color-footer;
  color: $color-white;
  font-family: $font-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  @media all and (min-width: 768px) {
    flex-direction: row;
    align-items: initial;
    justify-content: space-between;
  }
  @media all and (min-width: 1200px) {
    justify-content: space-evenly;
  }
  &__scroll-up {
    margin-bottom: 15px;
    background: $color-white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 $color-box-shadow;
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
    @media all and (min-width: 768px) {
      position: absolute;
      left: 48%;
    }
  }
  &__list {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.88;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    @media all and (min-width: 768px) {
      width: 210px;
      align-items: flex-start;
      justify-content: initial;
      margin-top: 45px;
    }
    &--link {
      text-decoration: none;
      color: $color-white;
      &:visited {
        text-decoration: none;
      }
    }
    &--copyright,
    &--love {
      font-size: 14px;
      line-height: 2.14;
      text-transform: none;
      @media all and (min-width: 768px) {
        position: relative;
        left: 0;
      }
    }
  }
}
.down {
  order: -1;
}
