/* Punto de mejor: hacer un @import */
@mixin flex-box() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__hero {
    width: 100%;
    height: 100vh;
    margin: auto;
    &--image {
      background-image: url("../images/cover.jpg");
      background-size: cover;
      background-position: center;
      margin: auto;
      top: 0;
      width: 100%;
      height: 100vh;
    }
    &--title {
      font-family: $font-titles;
      text-transform: uppercase;
      font-size: 42px;
      line-height: 55px;
      text-align: center;
      margin-top: 284px;
      margin-bottom: 10px;
      width: 300px;
      color: $color-white;
      text-shadow: 0 2px 3px $color-font-shadow;
      @include flex-box();
      @media all and (min-width: 768px) {
        margin-top: 384px;
        font-size: 80px;
        line-height: 106px;
        margin-bottom: 20px;
      }
    }
    &--subtitle {
      color: $color-white;
      font-family: $font-secondary;
      top: 10px;
      font-weight: normal;
      font-size: 16px;
      margin-bottom: 45px;
      @media all and (min-width: 768px) {
        margin-bottom: 30px;
        font-size: 24px;
      }
    }
    &--scroll-up {
      background: white;
      height: 45px;
      width: 45px;
      border-radius: 50%;

      @include flex-box();
      /* @media all and (min-width: 768px) {
        margin-bottom: 45px;
      } */
    }
  }
  &__article {
    background: $color-white;
    margin-top: 30px;
    &--small {
      color: $color-small;
      font-family: $font-secondary;
      line-height: 2.14;
      margin-bottom: 1 px;
      font-size: 14px;
      text-transform: capitalize;
    }
    &--title {
      font-size: 24px;
      font-family: $font-titles;
      margin-bottom: 15px;
      text-transform: capitalize;
      font-weight: bold;
      color: $color-h2;
      line-height: 1.73;
      @media all and (min-width: 768px) {
        margin-bottom: 30px;
      }
    }
    &--text {
      font-family: $font-secondary;
      color: $color-p;
      line-height: 1.5;
      margin-bottom: 30px;
    }
    &--button {
      height: 45px;
      width: 76px;
      color: $color-buttons;
      font-family: $font-secondary;
      font-size: 20px;
      font-weight: 500; /* Descargar tipo de fuente */
      border-radius: 22.5px;
      background-color: $color-white;
      margin-bottom: 45px;
      border: solid 2px $color-buttons;
      @media all and (min-width: 768px) {
        margin-bottom: 60px;
      }
    }
  }
  &__section {
    background: $color-section;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--title {
      font-family: $font-titles;
      font-weight: bold;
      font-size: 24px;
      margin-top: 30px;
      margin-bottom: 45px;
    }
    &--button {
      /* Punto de mejora: @mixin */
      height: 45px;
      width: 184px;
      color: $color-white;
      font-family: $font-secondary;
      font-size: 19px;
      background-color: $color-buttons;
      border: solid 2px $color-buttons;
      border-radius: 22.5px;
      margin-bottom: 60px;
      padding: 0 29.5px 0 30.5px;
    }
  }
}

.list {
  list-style: none;
  display: grid;
  font-family: $font-secondary;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 45px;
  width: 180px;
  margin-bottom: 45px;
  @media all and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  &__item {
    &--title {
      font-family: $font-titles;
      font-size: 18px;
    }
    &--text {
      font-family: $font-secondary;
      font-size: 18px;
    }
  }
}

/* Punto de mejor: reubicar */
.translate {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}
